<!DOCTYPE html>
<html>

  {% assign author = site.data.authors[page.author] %}
  
  {% include head.html %}

  <body>

    {% include header.html %}    
    <div class="page-content">
      <div class="wrapper">
        <h1>{% if author.display_name  != empty %}{{ author.display_name }}{% elseif %}{{ page.author }}{% endif %}</h1>
        
        {% for post in site.posts %} 
          {% if post.author == page.author %}
          <div class='posts'>{{ post.title }}</div> 
          {% endif %}
        {% endfor %}
        
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
