<!DOCTYPE html>
<html>

  {% assign author = site.data.authors[page.author] %}
  
  {% include head.html %}

  <body>

    {% include header.html %}    
    <div class="page-content">
      <div class="wrapper">
        <h1>{{ author.display_name }}</h1>
        {% if author.icon != empty %} icon url: {{ author.icon | prepend: site.baseurl }}{% endif %}
        {% if author.facebook != empty %} facebook: {{ author.facebook }}{% endif %}
        {% if author.twitter != empty %} twitter: {{ author.twitter }}{% endif %}
        {% if author.color != empty %} color: {{ author.color }}{% endif %}
        {% if author.website != empty %} website: {{ author.website }}{% endif %}
        
        {% for post in site.posts %} 
          {% if post.author == page.author %}
          <div class='post-links'>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            <span>{{ post.date | date: "%-d %B %Y"}}</span>
          </div> 
          {% endif %}
        {% endfor %}
        
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
